@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green-primary-color: #009E74;
  --light-green-color: rgb(118, 211, 64);
  --dark-green-color: #048f6a;
  --dark-blue-color: #292C3B;
  --dark-blue-bg-color: #222C3B;
  --grey-text-color: #696a6a;
  --grey-hover-color: #F4F6F8;
  --grey-lighter-color: rgb(177, 175, 175);
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Utility elements */
.text-lg {
  font-size: 35px;
  font-weight: 600;
}

.text-sm-light {
  font-size: 14px;
  color: var(--grey-text-color);
  font-weight: 600;
}

/* Header */
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  align-items: center;
  font-weight: 800;
}

.header li {
  display: inline;
  margin-right: 50px;
}

.header a {
  text-decoration: none;
  color: var(--dark-blue-color);
}

.header a::after {
  content: ' »';
}

.header a:hover {
  color: var(--green-primary-color);
}

.header a:hover::after {
  content: ' «';
}

.header .menu {
  display: none;
}

.hide-menu {
  display: none;
}

/* Header buttons */
.header button:first-of-type,
.showcase button:nth-of-type(2),
.header button:nth-of-type(2),
.showcase button:first-of-type,
.card button,
.code button,
.banks-logo button,
.api-data button {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 25px;
}

.header button:first-of-type,
.showcase button:nth-of-type(2) {
  background-color: transparent;
  border: none;
}

.header button:first-of-type:hover,
.showcase button:nth-of-type(2):hover {
  color: var(--green-primary-color);
}

.header button:nth-of-type(2),
.showcase button:first-of-type,
.card button,
.code button,
.banks-logo button {
  background-color: var(--green-primary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.header button:nth-of-type(2):hover,
.showcase button:first-of-type:hover {
  transition: 2s ease-in-out;
  background-color: var(--dark-green-color);
}

/* Showcase */
.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 0 120px;
  padding-top: 100px;
}

.showcase h1,
.showcase p {
  padding-bottom: 20px;
}

.showcase h1 {
  font-size: 45px;
  line-height: 4rem;
  width: 80%;
  color: var(--dark-blue-color);
}

.showcase p {
  color: var(--grey-text-color);
  line-height: 1.5rem;
  width: 80%;
}

.showcase img {
  position: absolute;
}

.showcase img:nth-of-type(2) {
  height: 450px;
}

.showcase div:first-of-type {
  display: flex;
  flex-direction: column;
}

.showcase .btn {
  width: 50%;
}

/* Testimonial */
.testimonial {
  padding: 20px 120px;
}

.testimonial img {
  width: 100%;
}

/* Explore  and radio*/
.explore {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  padding: 0 120px;
}

.radio-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radio-container h2 {
  padding-bottom: 30px;
}

.radio-container p {
  padding-bottom: 30px;
  color: #696a6a;
  font-weight: bold;
}

.radio-container a {
  text-decoration: none;
  color: var(--green-primary-color);
}

.radio-container a::after {
  content: ' →';
}

.radio-container a:hover {
  text-decoration: underline; 
}

.radio {
  display: flex;
  gap: 20px;
}

.card {
  background-color: var(--grey-hover-color);
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  margin-bottom: 100px;
}

.card h2 {
  color: rgb(79, 77, 77);
  padding-bottom: 20px;
}

.card p {
  color: var(--grey-text-color);
  padding-bottom: 20px;
}

.card button {
  width: 25%;
  padding-bottom: 20px;
}

.card.hidden {
  display: none;
}

/* Grid container */
.container {
  padding-top: 200px;
  background-color: var(--grey-hover-color);
  margin: 0 -100px 0 -120px;
  padding: 0 120px;
}

.container-text {
  padding-left: 150px;
  padding-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 150px;
  gap: 40px;
}

.grid-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55vh;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 2px 2px rgb(163, 159, 159);
}

.grid-box div {
  padding-bottom: 100px;
}

.grid-box p {
  padding-bottom: 15px;
  color: var(--grey-text-color);
  line-height: 1.5rem;
  font-size: 16px;
}

.grid-box a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.grid-box a:hover {
  color: var(--green-primary-color);
  text-decoration: underline;
}

/* Code */
.code {
  display: flex;
  padding: 60px 120px;
  background-color: var(--dark-blue-bg-color);
  color: white;
}

.banks-logo {
  display: flex;
  padding: 0 120px;
  background-color: #F4F6F8;
}

.code div,
.banks-logo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.code p, .code h2 {
  width: 80%;
  padding-bottom: 25px;
}

.banks-logo p {
  width: 90%;
  padding-bottom: 25px;
  color: var(--grey-text-color);
}

.banks-logo h2 {
  padding-bottom: 25px;
  color: var(--dark-blue-color);
}

.code button,
.banks-logo button {
  width: 40%;
}

/* Company data */
.company-data {
  text-align: center;
  background-color: var(--dark-blue-bg-color);
  padding: 100px 120px;
}

.company-data h2 {
  font-size: 60px;
  padding-bottom: 30px;
  color: var(--green-primary-color);
}

.company-data h2:hover {
  color: var(--light-green-color);
}

.data-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  color: white;
  padding: 30px;
}

.data-grid p:first-of-type {
  font-size: 50px;
}

.data-grid p:nth-of-type(2) {
  color: rgb(177, 175, 175);
}

/* APi data */

.api-data {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 100px 150px;
  background-color: #7664FE;
  border-radius: 8px;
}

.api-data h1 {
  width: 50%;
  font-size: 30px;
  color: white;
}

.api-data button {
  border: none;
  border-radius: 8px;;
}

/* Footer */
.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 100px 120px;
}

.footer-grid-container i {
  padding-right: 20px;
}

.footer-grid-container a {
  text-decoration: none;
  color: var(--grey-text-color);
  line-height: 2.5rem;
  font-size: 15px;
  font-weight: 500;
}

.footer-grid-container a:hover {
  color: var(--green-primary-color);
  text-decoration: underline;
}

.footer-grid-container p:first-of-type {
  font-weight: bold;
  line-height: 2.5rem;
}

footer #copyright {
  margin-left: 120px;
  padding-bottom: 200px;
  font-size: 15px;
}

/* Media queries */
@media (max-width: 798px) {
  body,
  .header {
    padding: 0;
  }

  .header {
    justify-content: space-between;
  }

  .header nav,
  .header .btn {
    display: none;
  }

  .header img {
    width: 120px;
  }

  .header .menu {
    display: inline-block;
    cursor: pointer;
  }

  .show-menu {
    display: inline-block;
  }

  .show-menu .menu-flex {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }

  .show-menu .menu-flex p {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 30px;
    cursor: pointer;
  }

  /* Showcase */
  .showcase {
    grid-template-columns: 1fr;
    height:auto;
    padding: 100px 20px 30px;
  }

  .showcase h1 {
    font-size: 35px;
    line-height: 3rem;
    width: 100%;
  }

  .showcase p {
    width: 100%;

  }

  .showcase img {
    display: none;
  }

  /* Testimonial */
  .testimonial {
    padding: 20px;
  }

  /* Explore */
  .explore {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
  }

  .radio-container {
    height: auto;
  }

  .radio-container h2 {
    font-size: 25px;
    width: 20%;
  }

  .radio {
    display: none;
  }

  /* Card container */
  .card {
    width: 50%;
  }

  .card h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .card p {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .card button{
    width: 50%;
  }
  

  /* Grid container */
  .container {
    padding-top: 0;
    margin: 0 -100px 0 -120px;
    padding: 0;
  }

  .container-text {
    padding-left: 150px;
  }

  .container-text h2 {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .container-text p {
    font-size: 15px;
    color: var(--grey-text-color);
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-box {
    height: 50vh;
    padding: 30px;
  }

  .grid-box div {
    padding-bottom: 60px;
  }

  .grid-box p {
    line-height: 1.2rem;
    font-size: 15px;
  }

  /* Code */
  .code {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .banks-logo {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .code div,
  .banks-logo div {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .code p, .code h2 {
    width: 100%;
  }

  .code h2 {
    font-size: 25px;
  }

  .banks-logo p {
    width: 90%;
  }

  .banks-logo h2 {
    font-size: 25px;
  }

  .code button,
  .banks-logo button {
    width: 50%;
  }

  /* Company data */
  .company-data {
    padding: 50px;
  }

  .company-data h2 {
    font-size: 30px;
  }

  .data-grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .data-grid p:first-of-type {
    font-size: 20px;
  }

  /* APi data */
  .api-data {
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin:0;
    border-radius: none;
  }
  
  .api-data h1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  /* Footer */
  .footer-grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 30px;
  }

  .footer-grid-container div:first-of-type{
    grid-column: 1/ span 2;
  }
 
  .footer-grid-container i {
    padding-right: 20px;
  }

  
  footer #copyright {
    margin-left:20px;
    padding-bottom: 50px;
  }
}

@media(max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}